@import "../../mq";

.ComicsList {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px;

  @include mq($until: tablet) {
    grid-template-columns: auto auto;
  }
}
